.projections-vs-actuals-chart {
  padding: var(--space-6);
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  background-color: var(--Primary-Light-2);
  border-radius: var(--radius-xl);

  .chart-title {
    color: var(--color-text-primary);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    margin-bottom: var(--gap-sm);
    margin: 0;
  }

  .chart-container {
    position: relative;
    height: 220px;
    // width: 100%;

    canvas {
      max-height: 100%;
    }
  }
}
