.sidebar {
  width: 180px;
  max-width: 180px;
  background: var(--color-bg-primary);
  border-right: 1px solid var(--black-10);
  padding: var(--gap-md);
  font-size: var(--font-size-sm);
  color: var(--color-text-primary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  min-width: 175px;

  .user {
    display: flex;
    align-items: center;

    .avatar {
      margin-right: var(--gap-sm);
    }

    .name {
      font-weight: var(--font-weight-regular);
    }
  }

  .recent-and-favorites {
    .title-container {
      display: flex;
      gap: var(--gap-sm);
      align-items: center;
      color: var(--black-20);

      .title {
        cursor: pointer;
        padding: var(--space-1) var(--space-0);

        &.active {
          color: var(--black-40);
        }
      }
    }
  }

  .section {
    .title {
      font-size: var(--font-size-sm);
      font-weight: var(--font-weight-regular);
      color: var(--color-text-secondary);
      margin: var(--space-0);
      padding: var(--space-1) var(--space-3);
      min-height: 20px;
      margin-bottom: var(--gap-xs);
    }
  }

  .list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    gap: var(--gap-xs);
    flex-direction: column;

    li {
      cursor: pointer;
      border-radius: var(--radius-md);

      .link {
        display: flex;
        align-items: center;
        gap: var(--gap-sm);
        text-decoration: none;
        color: var(--color-text-primary);
        padding: var(--space-1) var(--space-0);

        &.active:first-of-type {
          background: var(--black-5);

          .selected {
            background: var(--color-text-primary);
          }
        }
        .selected {
          width: 4px;
          height: 16px;
          border-radius: var(--radius-sm);
        }

        .arrow {
          width: 16px;
          height: 16px;

          .active {
            /* Rotate 90 degrees clockwise */
            transform: rotate(90deg);

            /*  smooth rotation transition */
            transition: transform 0.5s ease;
          }
        }

        .dot {
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background: var(--color-text-primary);
        }

        .nav-item {
          display: flex;
          align-items: center;
          gap: var(--gap-sm);

          .icon {
            height: 20px;
            width: 20px;
          }
        }
      }
    }
  }
}
