.landing-dashboard {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
  width: 100%;

  h2 {
    margin: var(--space-2) var(--space-0);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-medium);
  }

  .dashboard-containt {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);

    .basic-summery {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--gap-md);

      .counts-summery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--gap-md);
      }
      .projection-summery {
        overflow: auto;
      }
    }

    .revenue-row {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: var(--gap-md);

      .revenue-summery {
        grid-column: span 3;
      }
      .revenue-by-location {
      }
    }

    .sales-summery {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: var(--gap-md);

      .top-products-conatiner {
        grid-column: span 3;
        min-height: -webkit-fill-available;
      }

      .total-sales-summery {
        grid-column: span 1;
        overflow: auto;
      }
    }
  }
}
