.main-layout {
  display: flex;
  min-height: 100vh;

  /* Container for header + main content area */
  &__right-container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__header {
  }

  &__content {
    display: flex;
    flex: 1;
  }

  &__main-panel {
    flex: 1;
    padding: 24px;
  }

  &__right-panel {
    width: 320px;
    border-left: 1px solid #eee;
    padding: 24px 12px;
  }
}
